<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/style/style.css" type="text/css" />
    
    <title>Mongo Sample | Insurance CRM</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-expand-sm">
        <a href="" class="navbar-brand"><i><span class="text-danger">Valued</span>Clients</i></a>
        <!-- Command to collapse the navbar -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item mr-2"><a class="nav-link" href="/"> Home</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href=""> About</a></li>
                <!-- Dropdown list -->
                <!--    <li class="nav-item dropdown">-->
                <!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Banks</a>-->
                <!-- Start of dropdown list -->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                <!--    <a class="dropdown-item" href="#">DBS</a>-->
                <!--    <a class="dropdown-item" href="#">UOB</a>-->
                <!--    <a class="dropdown-item" href="#">OCBC</a>-->
                <!--    <a class="dropdown-item" href="#">Maybank</a>-->
                <!--    <a class="dropdown-item" href="#">Hong Leong Finance</a>-->
                <!--    <a class="dropdown-item" href="#">Tokio Century Leasing</a>-->
                <!--    <a class="dropdown-item" href="#">Inhouse Loan</a>-->
                <!--</div>-->

                <!-- ./dropdown -->
                <!--</ul>-->
        </div>

        <div class="d-none d-md-block">
            <p class="navbar-text my-auto mr-2 "><i> Clients for Life ! -<b>Ace Ang</b></i></p>
            <!--<a href="" class="btn btn-signup btn--green"> Login | Sign Up </a>-->
        </div>
    </nav>
    <!-- ./navigation -->

    <!-- Callout -->
    <div class="container-fluid callout-container">
        <!--<div class="opaque-overlay">&nbsp;</div>-->
        <div class="row">
            <div class="col-12">
                <div class="callout jumbotron text-center">
                    <h1 class="jumbotron-header">Retirement is the longest Vacation !</h1>
                    <hr class="block-divider">
                </div>
            </div>
        </div>
    </div>
    <!-- /.callout -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
